/* With one colon we refer to pseudo-classes */

p:nth-child(even) {
  color: purple;
}

/* When I am hovering the mouse or clicked on it */
input:focus {
  outline: 2px solid blue;
}

/* When I stay out of the box it will check and display if valid */
input:invalid:not(:focus) {
  outline: 2px solid red;
}

a:link {
  color: green;
}

a:visited {
  color: greenyellow;
}

/* With two colon we refer to pseudo-elements */
p::first-letter {
  font-size: 2em;
}

p::before {
  content: ">";
}

p:first-of-type {
  color: blue;
}
