h1 {
  size: 1.25rem;
  color: blue;
}

/* The . specifies the 'heading' class inside the 'h1' tag */
h1.heading {
  color: brown;
}

/* The # is used to reference an ID that is used then in the HTML code */
#red {
  color: red;
}

/* This is a way to refer to an attribute inside the tag 'a'.
If I want this rule to be applied to any other url that comes after 'google.com/',
then I need to add the hat after href, like here */
a[href^="https://www.google.com"]
{
  color: yellowgreen;
}
/* Also, if I use [type] it will select all elements with the 'type' attribute set. */

/* Be reminded that there are other attribute selectors, like follow:

[href*="www.google.com"] will select all values that contain the value
[href$="google.com"] will select all values that end with the value. */

/* If I only want to influence the p tag inside footer but not the p tag inside a div
that is inside the footer, then I use the > sign. HOWEVER, if I want to influence 
all the p tags inside the footer then I remove the > sign. */
footer > p {
  font-style: italic;
}

/* This influences any p tag that follows h1 tag */
h1 ~ p {
  background-color: yellowgreen;
}

/* This influences the first p tag that follows h2 tag, in other words the adjacent
 p tag to h2 */
h2 + p {
  background-color: violet;
}
